* {
    color: #FFF;
}

.container {
    display: flex;
    gap: 50px;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    cursor: default;
    user-select: none;
    pointer-events: all;
}

.col-item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 150px;
}

.button {
    background-color: #6668;
    padding: 10px;
    border-radius: 10px;
    pointer-events: all;
    cursor: pointer;
    justify-content: center;
}

.panel {
    position: relative;
    background-color: #6668;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    aspect-ratio: 1/1;
    justify-content: center;
    align-items: center;

    transform: translateY(0);
    top: 0;
    transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;

    &.move_pos {
        top: 100px;
    }

    &.move_translate {
        transform: translateY(100px);
    }
}

.arrow {
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    justify-content: center;
    align-items: center;
    background-color: #AAA8;
    width: 50%;
    aspect-ratio: 1/1;
    border-radius: 10px;

    &.rotate {
        transform: rotate(90deg);
    }
}